body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.top-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.top-nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.top-nav a i {
    margin-right: 10px;
    font-size: 20px;
}
.top-nav img {
    height: 30px; /* Adjust the logo size as needed */
    width: auto;
}
.container {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    margin-top: 50px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.container p {
    color: black;
    font-weight: bold;
}
.container p span {
    color: gray;
    font-size: 15px;
}
.container image {
    align-items: center;
}
.btn_vegetable {
    display: flex; /* Use flexbox layout */
    width: 300px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 18px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 90px;
    margin-bottom: 30px;
    justify-content: start; /* Center text inside the button horizontally */
    align-items: center; /* Center text inside the button vertically */
    background-color: white; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn {
    display: flex; /* Use flexbox layout */
    width: 300px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 18px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 90px;
    margin-bottom: 30px;
    justify-content: start; /* Center text inside the button horizontally */
    align-items: center; /* Center text inside the button vertically */
    background-color: white; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.btn_vegetable-clicked {
    background-color: #5d7c5d !important; /* Color change on click */
}
.btn-clicked {
    background-color: #5d7c5d !important; /* Color change on click */
}
.bottom-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}
.bottom-nav a {
    color: #333;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    flex: 1;
}
.bottom-nav a i {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.bottom-nav .home-logo {
    position: absolute;
    bottom: 8px; /* Adjusted position */
    left: 50%;
    transform: translateX(-50%);
    height: 80px; /* Adjust height as needed */
    width: auto;
}
.back-button i {
    display: none;
}
.fruit_image {
    width: 70px;
}
.vegetable_image {
    width: 70px;
}
.meat_image {
    width: 70px;
}
.container p {
    margin-left: 30%;
}
.btn_vegetable > p {
    margin-left: 24%;
}